.Container{
    // background-color: #D4AC0D;
    background: rgb(34,193,195);
background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,45,134,1) 100%);

    padding: 50px 0;
}
.Col{
    width: calc(100%/2 - 30px);
    margin: 15px;
    img{
        border-radius: 30px;
    }
};
@media screen and (max-width: 800px) {
    .Col{
        width: 100%;
    }
}