.Container{
    // background-color: #D4AC0D;
    background-color: hsla(0, 0%, 0%, 0.927);
    color: white;
    height: 90vh;
//     background: rgb(34,193,195);
// background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,45,134,1) 100%);

    padding: 50px 0;
}
.Col a{
    text-decoration: none;
    font-weight: 700;
    font-size: 1.5rem;
    color: orange;
}
.Col{
    width: calc(100%/2 - 30px);
    margin: 15px;
    img{
        border-radius: 30px;
    }
};
@media screen and (max-width: 800px) {
    .Col{
        width: 100%;
    }
}
