.Container{
    background: #a6a6f4;
    padding: 20px 0;
    text-align: start;
    color: white
};
.List{
    list-style: none;
}
.Link{
    text-decoration: none;
    color: white;
}
.Icons{
    margin: 20px 0;
}